 * {
  box-sizing: border-box;
}

.column1 {
  float: left;
  width: 40%;
  padding: 20px;
  height: 700px; 
  margin-right: -10px;
}
.input1{
 border-radius:5px;
 padding:15px;
 height:10px;
}

.h1h2{
  color: black;
}

label{
  color: black;
}


.button{
  background-color:#E6E6FA;
  padding: 10px 16px;
  transition: all .45s ease;
  border-radius: 5px;
  /* top:-780px; */
}

.button:hover {
  background-color:#800080;
}


.center1 {
justify-content: center;
align-items: center;
height: 200px;
padding-left:40%; 
}

.column2 {
  float: left;
  width: 15%;
  padding: 10px;
  height: 700px; 
  margin-right: -10px;

}
.row:before {
  content: "";
  display: table;
  clear: both;
   
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
   
}


.img1{
  max-width: 100%; /* Limit the maximum width of the image to fit within the column */
  max-height: 100%; /* Limit the maximum height of the image to fit within the column */
  width: auto; /* Reset the width to auto to maintain aspect ratio */
  height: auto; /* Reset the height to auto to maintain aspect ratio */
	  
}

.card1{
	 padding-left:15%;
   padding-right:10%;

}
.column3 {
  float: left;
  width: 50%;
  height: 850px; 
  margin-right: -10px;
  margin-top: -780px;
}

.column4 {
  float: right;
  width: 50%;
 /* padding: 10px;*/
  height: 850px; 
  margin-top: -780px;
  margin-right: -15px;
}
.input2{
  border-radius:5px;
  padding:15px;
  height:10px;
 }


/* Clear floats after the columns */
.row1:after {
  content: "";
  display:flex;
  clear:both;
   
}
.row1:before {
  content: "";
  display:flex;
  clear: both;
   
}


.column5 {
  float: left;
  width: 50%;
  height: 850px; 
  margin-right: -10px;
}

.column6 {
  float: right;
  width: 45%;
  padding:10px;
 height: 850px; 
 margin-right: 10px;
 margin-top: -50px;
}
.input3{
  border-radius:5px;
  padding:15px;
  height:10px;
 }


/* Clear floats after the columns */
.row2:after {
  content: "";
  display:flex;
  clear:both;
   
}
.row2:before {
  content: "";
  display:flex;
  clear: both;
   
}

#citizens {
  width: 160px; 
  border-radius:5px;
  padding:15px;
  height:10px;

}
