@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

body {
    background-color: #1f242d;
    color: #fff;
}

/* header */
header {
    position: fixed;
    text-align: center;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 100;
}

header p {
    background-color: black;
    padding: 8px;
}

/* navigation bar */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 10px 20px;
    border-bottom: 1px solid transparent;
    transition: all .45s ease;
}

nav .pic h1 {
    font-weight: 700;
    letter-spacing: 1px;
}

nav .pic span {
    text-shadow: 2px 2px 4px #1f242d;
}

.menu {
    display: flex;
    flex-basis: 65%;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
    transition: all 0.4s ease-in;
}

.menu a {
    color: #fff;
    font-weight: 500;
    transition: all .45s ease;
}

.menu a{
    position: relative;
}

.menu a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.menu a:hover::after {
    color: #a7a0a0;
    transform-origin: left;
    transform: scaleX(1);
}

.menu .sign a:hover::after {
    transform: scaleX(0);
}

.menu .drop > a > i{
    position: relative;
    margin-left: 10px;
}

.menu .drop:hover > a > i{
    transform: rotate(-90deg);
}

.submenu {
    position: absolute;
    list-style: none;
    font-size: 0.9rem;
    background: #282d33;
    width: 192px;
    margin-top: 1px;
    display: none;
    z-index: 4;
}

.submenu li a{
    display: block;
    padding: 15px 20px;
}

.submenu li a:hover{
    background-color: #fff;
    color: #1f242d;
}

.menu > li:hover > .submenu {
    display: block;
}

.menu .sign a{
    background-color: #fff;
    color: #282d33;
    padding: 10px 16px;
    border-radius: 5px;
    transition: all .45s ease;
}

.menu .sign a:hover {
    background-color: #282d33;
    color: #fff;
}

nav input[type="checkbox"]{
    display: none;
}

nav > label{
    position: absolute;
    top: 80px;
    right: 5%;
    cursor: pointer;
    z-index: 5;
    font-size: 1.5rem;
    display: none;
}

header.sticky{
    background: #1f242d;
    border-bottom: 1px solid #ffffff1a;
}

/* FORM */

.column1 {
  display: flex;
  align-items: center;
  flex-basis: 50%;
  justify-content: space-around;
  width: 100%;
  overflow-x: hidden;
  margin: 1rem ;
}

.form {
  position: relative;
   /* max-width: 800px; */
   width: 40%;
   margin-left: 15%;
   padding: 25px;
   font-size: 20px;
   letter-spacing: 2px;
   background-color: #fff;
   color: #282d33;
   border-radius: 8px;
   box-shadow: 0 0 15px #1f242d;
}

.img1 {
  margin-right: 15%;
  border-radius: 8px;
  overflow-x: hidden;
}

.form .input1 {
  width: 100%;
  margin-top: 10px;
}

.form .input1 input,
.form .input1 select {
  position: relative;
   height: 30px;
   width: 100%;
   outline: none;
   font-size: 1rem;
   color: #282d33;
   margin-top: 8px;
   border: 1px solid #ddd;
   border-radius: 6px;
   padding: 0 15px;
}

.form .radio1 {
  margin-top: 8px;
}

.form button {
  width: 100%;
  height: 30px;
  outline: none;
  margin-top: 8px;
  border-radius: 6px;
  letter-spacing: 2px;
  background: #1f242d;
  border: none;
  transition: all .45s ease;
}

.form button:hover {
  transform: scale(0.9);
  background: #282d33;
}

.form button a {
  color: #a7a0a0;
}

/* .input1{
 border-radius:5px;
 padding:15px;
 height:10px;
}

.h1h2{
  color: black;
}

label{
  color: black;
} */

/* 
.button{
  background-color:#E6E6FA;
  padding: 10px 16px;
  transition: all .45s ease;
  border-radius: 5px; */
  /* top:-780px; 
} /*


/* .button:hover {
  background-color:#800080;
} */


/* .center1 {
justify-content: center;
align-items: center;
height: 200px;
padding-left:40%; 
}

.column2 {
  float: left;
  width: 15%;
  padding: 10px;
  height: 700px; 
  margin-right: -10px;

}
.row:before {
  content: "";
  display: table;
  clear: both;
}*/

/* Clear floats after the columns */
/* .row:after {
  content: "";
  display: table;
  clear: both;
   
} */


/* .img1{
  max-width: 100%; Limit the maximum width of the image to fit within the column
  max-height: 100%; Limit the maximum height of the image to fit within the column
  width: auto; Reset the width to auto to maintain aspect ratio
  height: auto; Reset the height to auto to maintain aspect ratio
	  
} */

/* .card1{
	 padding-left:15%;
   padding-right:10%;

}
.column3 {
  float: left;
  width: 50%;
  height: 850px; 
  margin-right: -10px;
  margin-top: -780px;
  overflow: hidden;
} */

/* .column4 {
  float: right;
  width: 50%; */
 /* padding: 10px;*/
  /* height: 850px; 
  margin-top: -780px;
  margin-right: -15px;
}
.input2{
  border-radius:5px;
  padding:15px;
  height:10px;
 } */


/* Clear floats after the columns */
/* .row1:after {
  content: "";
  display:flex;
  clear:both;
   
}
.row1:before {
  content: "";
  display:flex;
  clear: both;
   
} */


/* .column5 select {
 
  width: 93%;
  height: 850px; 
  height: 35px;
  border-radius: 8px;
  outline: none;
} */

.column6 {
  /* width: 45%;  */
 /* margin-right: 10px; */
 /* margin-top: px; */
}

/* .column6 .input1 input {
  padding-left: 10px;
} */
/* .input3{
  border-radius:5px;
  padding:15px;
  height:10px;
 } */

 /* .column5 {

 } */

/* Clear floats after the columns */
/* .row2:after {
  content: "";
  display:flex;
  clear:both;
   
} */
/* .row2:before {
  content: "";
  display:flex;
  clear: both;
   
}

#citizens {
  width: 160px; 
  border-radius:5px;
  padding:15px;
  height:10px;

} */

/* footer */
footer {
  width: 100%;
  background-color: #a7a0a0;
}

.Mcontent {
  display: flex;
  padding: 5px 0;
  animation: blur 1.5s ease-in forwards;
}

@keyframes blur{
  from{
      opacity: 0;
  }
  to{
      opacity: 1;
  }
}

.Mcontent .box {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 33.33%;
  padding: 10px 20px;
}

.box h2 {
  color: #222222;
}

.box .content {
  margin: 20px 0 0 0;
  position: relative;
}

.box .content::before {
  position: absolute;
  content: '';
  top: -10px;
  height: 2px;
  width: 100%;
  background: #222222;
}

.left .content p{
  text-align: justify;
  color: #1f242d;
}

.left .content .social,
.left .content .tearms,
.center .content .latest,
.right .content img,
.right .content .btn {
  margin: 20px 0 0 0;
}

.left .content .social a {
  padding: 0 7px;
  height: 45px;
  width: 45px;
  background: #1f242d;
  color: #ecf0f1;
  font-size: 22px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 15px;
  transition: all .45s ease;
  text-decoration: none;
}

.left .content .social a:hover {
  background: #ecf0f1;
  color: #1f242d;
  /* box-shadow: 0 0 4px #1f242d; */
  transform: scale(0.9);
  border: 2px solid #1f242d;
}

.left .content .tearms a{
  text-decoration: none;
  color: #1f242d;
  font-weight: 600;
}

.left .content .tearms a:hover {
  color: #e74c3c;  
}

.center .content .fas {
  font-size: 1.3rem;
  color: #1f242d;
  line-height: 40px;
  text-align: center;
  margin-right: 12px;
  cursor: pointer;
}

.center .content .text {
  color: #1f242d;
}

.center .content .latest img {
  box-shadow: 0 0 6px #1f242d;
}

.right .content form input {
  width: 100%;
  height: 4vh;
  font-size: 1.05rem;
  background: #2d3436;
  padding: 10px;
  border: 1px solid #222222;
  box-shadow: 0 0 6px #fff;
}

.right form .btn button {
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background: #ecf0f1;
  font-size: 1.05rem;
  cursor: pointer;
  transition: all 0.3s ease-in;
  box-shadow: 0 0 6px #1f242d;
}

.right form .btn button:hover {
  background-color: #1f242d;
  color: #fff;
}

.right .content .logo2 {
  display: flex;
  padding-top: 20px;
}

.right .content .logo2 img {
  box-shadow: 0 0 6px #1f242d;
}

.right .content .logo2 h1 {
  padding-top: 15px;
  margin-left: 16px;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 2px 2px 4px #1f242d;
}

.logo2 span {
  color: #1f242d;
}

.top {
  margin-left: 250px;
}

.top a {
  background-color: #1f242d;
  border-radius: 8px;
  font-size: 15px;
  color: #a7a0a0;
  background-color: #1f242d;
  padding: 10px;
  margin-left: 40%;
  bottom: 0;
}

.top a i {
  font-size: 20px;
}

.top a:hover {
  color: #1f242d;
  background-color: #a7a0a0;
  box-shadow: 0 0 2px #1f242d;
}

/* Bottom Part */
.bottom{
  position: relative;
  z-index: 2;
  opacity: 0;
  /* Animation */
  animation: bt1 1.5s ease-in forwards 1s;
}


@keyframes bt1{
  form{
      opacity: 0;
  }
  to{
      opacity: 1;
  }
}

.bottom div{
  text-align: center;
  padding: 10px;
  background-color: #1f242d;
}

.bottom div span{
  color: #dfe6e9;
}

.bottom div a{
  color: #e74c3c;
  font-weight: 600;
  text-decoration: none;
}